/* Varaibles */
$bg-color:#F5F5F5;
$primary-color: #ECA6A8;
$secondary-color:#B62B70;
$hover: #15572A;
$border-color:linear-gradient(90deg,$primary-color,$secondary-color,$hover);
$section-color:#FFFFFF;
$text-color:#443A3A;
$Heading-font:"eb-garamond", serif;
$body-text-font:"roboto-slab",serif;


@mixin flex($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($pad:15px 10px 10px 10px){
    border: solid 2px transparent;
    border-radius: 10px;
     background:
        linear-gradient(white, white) padding-box,
        $border-color border-box;
    
    text-align: center;
    padding: $pad;
    text-decoration: none;
    color:$text-color;
    font-family: $body-text-font;
    font-weight: 500;
    
    // background-color: transparent;
    

    &:hover{
        background:
        linear-gradient($hover,$hover) padding-box,
        $border-color border-box;
        color:$section-color;
    }

}

@mixin heading1($clor:$text-color){
           text-align: center;
           color:$clor;
           font-size: 40px;
           font-family:$Heading-font;
           padding-top: 2rem;
}