@use "partial";

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    background-color: partial.$bg-color;

    main{
        margin:0 5rem;
        overflow-y: auto;
        overflow-x: hidden;
       
    }
    
    h1,h2{
        font-weight: 700;
    }   
}

// ---------------------------navgationen--------------------------

header nav{
    background-color: partial.$section-color;
    border-bottom: solid 15px partial.$primary-color;
    @include partial.flex($justify:space-between);
    padding: 1rem 1.5rem;
    color:partial.$text-color;
    

    img{
        height:120px;
        width:120px;
    }

    ul{
        @include partial.flex($justify:space-between);
        gap:20px;
        list-style-type: none;
        
        li a{

            text-decoration: none;
            color:partial.$text-color;
            font-family: partial.$Heading-font;
            font-weight: 600;
            font-size: 22px;
            &:hover{
                color: partial.$secondary-color;   
            }

        }
    }

    .right-ikoner{
        @include partial.flex($justify:space-between);
        gap:40px;

        .fa-bag-shopping, .fa-user-lock, .fa-magnifying-glass {
            font-size: 25px;
            color: partial.$text-color;
        }
    }
    .right-bar{
        @include partial.flex($justify:space-between);
        gap:10px;
    }
}

// -------------------hero section-------------------------
.hero-sec{
    @include partial.flex($align:center);
    flex-direction: column;
    margin-top: 3rem;
   

    h1{
        
        @include partial.heading1(partial.$text-color);
    }

    span{
        color:partial.$secondary-color;
        font-size: 23px;
    }

    a{
        @include partial.btn($pad:10px 30px 10px 30px);
        margin-top: 3.5rem;

    }
}


// -------------------Animation slide---------------------

.ani-slide{
    @include partial.flex($justify:flex-start);
    gap:20px;
    margin-top: 3rem;
    animation: slidemov 5s linear infinite;
     
    

    @keyframes slidemov{
        from{transform:translateX(-500px);}
        to{transform: translateX(0);}
    }

    img{
        height:300px;
        width:300px;
    }

}

//--------------------Hvorfor vælger kvinder Lady Balance section------------------

.hvorfor-sec{
    background-color: partial.$section-color;
    border:solid 0px white;
    border-radius: 10px;
    margin-top: 2rem;

    h1{
        @include partial.heading1(partial.$secondary-color);
    }

        .punkter-del{
        @include partial.flex($align:flex-start);
        flex-direction: column;
        margin-left: 5rem;
       

             img{
            height:30px;
            width: 30px;
            padding-right: 1rem;
             }

            p{
            font-family: partial.$body-text-font;
            font-size: 25px;
            color:partial.$text-color;        
            }   
    }

        .ikon-sec{
          @include partial.flex($align:center);
          flex-direction: column;
          margin-top: 3rem;

            .ikoner{
                 @include partial.flex($justify:center);
                 gap:150px;
                 
                .fa-user-doctor, .fa-staff-snake, .fa-flask{
                 color:partial.$secondary-color;
                  font-size: 60px;
                }

                 img{
                 height: 60px;
                width: 60px;
                  }
            }
          

          .ikon-text{
            @include partial.flex($justify:center);
            gap:20px;
            
            p{
                font-size: 20px;
                font-family: partial.$body-text-font;
                color:partial.$text-color;
            }

          }   
    }
    
}

//--------------------Populære Varer------------------

.produkter-sec{
         @include partial.flex($align:center);
          flex-direction: column;

          h1{
           @include partial.heading1(partial.$text-color);

          }
          
           span{
            color:partial.$secondary-color;
            font-size: 23px;
            margin-bottom: 2rem;
            
          }

          .styl-pro{
            @include partial.flex($justify:center);
            gap:20px;
            margin-top: 1rem;

            div{
                @include partial.flex($align:flex-start);
                flex-direction: column;
                background-color: partial.$section-color;
                border-radius: 10px;

                img{
                height:400px;
                width:550px;
                object-fit: contain;
                    }

                p{
                    margin-left: 1.5rem;
                    font-size: 25px;
                    color:partial.$text-color;
                    font-family: partial.$body-text-font;

                    a{
                        font-size: 15px;
                        color:partial.$secondary-color;
                        text-decoration: none;
                    }
                
                    }

                span{
                    margin-left: 1.5rem;
                    font-size: 12px;
                    color:partial.$text-color;
                    .fa-star{
                        color:partial.$secondary-color;
                        font-size: 25px;
                    }
                        
                    }

                #lægikurv{
                 @include partial.btn(10px 200px 10px 200px);
                 margin-left: 1.5rem;
                 margin-bottom: 2rem;
                    }
                
            }
           
 
          } 

          #seAlle{
            @include partial.btn(5px 40px 5px 40px);
            margin-top: 2rem;
            font-size: 15px;
            margin-bottom: 6rem;
          }
}

// ---------------------------blog section--------------------------------

.blog1{
    background-color: partial.$section-color;
    border-radius: 10px;
    @include partial.flex($justify:center);
    margin-bottom: 1rem;

    img{
        height:60vh;
        width:180vw;   
        object-fit: fill;
    
    }

    
    div{
        margin-left: 2rem;

        h2{
            color:partial.$secondary-color;
            font-size: 32px;
            font-family: partial.$Heading-font;
            
        }

        p{
            color:partial.$text-color;
            font-size: 20px;
            font-family: partial.$body-text-font;
            margin-bottom: 3rem;
         
            a{
                text-decoration: none;
                color:partial.$secondary-color;
            }
  
        }

        #blog-info{
                color:rgb(199, 197, 197); 
            }
    }
}

.blog2og3{
    background-color: partial.$section-color;
    border-radius: 10px;
    @include partial.flex($justify:flex-start);
    gap:10px;

    img{
        height:50vh;
        width:90vh;
        object-fit: cover;
    }
    

}






