@use "partial";

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    background-color: partial.$bg-color;

    main{
        margin:0 5rem;
    }
    
    h1,h2{
        font-weight: 700;
    }   
}

// ---------------------------navgationen--------------------------

header nav{
    background-color: partial.$section-color;
    border-bottom: solid 15px partial.$primary-color;
    @include partial.flex($justify:space-between);
    padding: 1rem 1.5rem;
    color:partial.$text-color;
    

    img{
        height:120px;
        width:120px;
    }

    ul{
        @include partial.flex($justify:space-between);
        gap:20px;
        list-style-type: none;
        
        li a{

            text-decoration: none;
            color:partial.$text-color;
            font-family: partial.$Heading-font;
            font-weight: 600;
            font-size: 22px;
            &:hover{
                color: partial.$secondary-color;   
            }

        }
    }

    .right-ikoner{
        @include partial.flex($justify:space-between);
        gap:40px;

        .fa-bag-shopping, .fa-user-lock, .fa-magnifying-glass {
            font-size: 25px;
            color: partial.$text-color;
        }
    }
    .right-bar{
        @include partial.flex($justify:space-between);
        gap:10px;
    }
}

// -------------------hero section-------------------------
.hero-sec{
    @include partial.flex($align:center);
    flex-direction: column;
    margin-top: 3rem;
   

    h1{
        color:partial.$text-color;
        font-family: partial.$Heading-font;
        font-size: 40px;
    }

    p{
        color:partial.$secondary-color;
        font-size: 20px;
    }

    a{
        @include partial.btn($pad:10px 20px 10px 20px);
        margin-top: 1rem;

    }

}




